.products{
display: flex;
flex-direction: column;    
justify-content: center;
align-items: center;

}
.cart-container{
display: flex;;
width: 60%;
height: 100px;
// background-color: red;
margin-top: 10px;
}
.cart-image{
width: 150px;
height: 100%;

}
.cart-info{
    width: 150px;
}
.s-name{
    
    font-size: 20px;
}
s-remove{
    width: 20px;
}
.sub-total{
display: flex;
flex-direction: column;    
justify-content: center;
align-items: center;
width: 100%;
height: 100px;
}