.Sidebar{
background-color: green;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
     width: 30%;
    height: 100%;
}
.sidebar-donuts{
 font-family: BrandonGrotesque-Black, Arial, Helvetica, sans-serif;
font-size: 35px;
line-height: 21px;
color: #c8102e;
font-weight: 400;
height: 200px;
}
.sidebar-cocoa{
    font-family: BrandonGrotesque-Black, Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 21px;
    color: #c8102e;
    font-weight: 400;
    height: 200px;
}
.sidebar-other{
    font-family: BrandonGrotesque-Black, Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 21px;
    color: #c8102e;
    font-weight: 400;
    height: 200px;
}
.sidebar-merchandise{
    font-family: BrandonGrotesque-Black, Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 21px;
    color: #c8102e;
    font-weight: 400;
    height: 200px;
}