.Footer{
    display: flex;
    width: 100%;
    height: 85px;

}
.Footer1{
    margin-left: 35px;
    margin-top: 20px;
    height: 85px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: space-between;
}
.aboutUs{

    margin-bottom: 10px;
    background-color: orange; 
    width: 100%;
    height: 40px;
}
.aboutUsTxt{
    margin-top: 200px;
    font-size: 50px;
    align-content: center;
}
.needHelpTxt{
    margin-top: 200px;
    font-size: 50px;
    align-content: center;
}
.contactUsTxt{
    margin-top: 200px;
    font-size: 50px;
    align-content: center;
}
.Footer2{
    margin-right: 10px;
    height: 85px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;;
    justify-content: space-between;
}
.social-title{
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
}
.Social-Container{
    background-color: #eee;
    padding: 25px 50px;
}
a.Social{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}
a.social:hover{
    transform: translateY(-2px);
}
a.youtube{
    color: #eb3223;
}
a.facebook{
    color: #4968ad;;
}
a.twitter{
    color: blue;

}
a.instagram{
    color:black;
}
.copyright{
    font-size: 10px;
    font-style: bold italic;
}
@media screen and (max-width: 380px) {
    .Footer{
        width: 100%;
    }
    .Social-Container{
        padding: 20px 10px;
    }
}