.Storefront-Container{
    display: flex;
    height: calc(100vh -100px);
    width: 100%;
    overflow:scroll;


    }
    
    .storefront-main{
        display: flex;
        padding-left: 300px;
        flex-direction: column;
        width: 80%;
    }
     .donut-cont1{
        background-color: blanchedalmond;
        display: flex;
        width: 100%;
        
       
    }
   
    .donut-cont1a{
        

        margin-left:50px;
    }
    .orderDonut {
        background-color: indigo;
        margin-left: 100px;
        margin-top: 100px;
        width:100%;
        height: 500px;
        padding: 10px;
        margin: 15px;

    }
    .orderDonutImg{
        width: 100%;
        height: 500px;
        padding: 0px;
        
    }
    .orderButton{
        margin-top: 1px;
    }
    .freeDonut{
        background-color: mediumpurple;
        width:500px;
        height: 200px;
        padding: 40px;
        margin: 15px;
        position: relative;
    }
    .randomDonutImg{
        background-color: plum;
        width:600px;
        height: 300px;
        padding: 2px;
        margin: 15px;
        position: relative;

    }
    .randomImg{
        width:500px;
        height: 300px;
    }
    .donut-cont2{
        display: flex;
        background-color: blue;
        width: 100%;
        height: 500px;
           
    }
    .fundraising{
        background-color:red;
        width:50%;
        height: 400px;
        padding: 40px;
        margin: 15px;

    }
    .fundraise-img{
        width: 500px;
        height: 420px;
    }
    .merchImage{
        background-color:lime;
        width:550px;
        height: 400px;
        padding: 40px;
        margin: 15px;
        position: relative;
       
    }
    .merch-order-button{
    margin-top: 130px;
    height: 45px;
    width: 140px;
    background-color:blue;
}

    input{
        height: 20px;
        width: 200px;
        
    }
